*{
    border: none;
    margin:0;
    padding:0;
}
canvas{
    width:800px;
    height:600px;
    float:left;
    display: block;
    position: absolute;
    left: 0;
}
a{
    text-decoration: none;
    padding: 3px 10px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    img{
        vertical-align: text-top;
    }
    &.text_btn{
        color: #fff;
        background: #ff97a3;
        border-radius: 3px;
        &:hover{
            background: #f8bcc2;
        }
    }
}
body{
    .main{
        text-align: center;
        &>*{
            width: 800px;
            text-align: left;
            margin: 10px auto 0 auto;
        }
        .canvas-group{
            display: inline-block;
            width: 800px;
            height: 600px;
            position: relative;
        }
    }
}
